<!doctype html>

<head>
    <title>Wordle Solver</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="js/wordlesolver.js"></script>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div id='app'>
        <h5>Use '?' where it isn't the colour</h5>
        <table>
            <tbody>
                <tr>
                    <td>Green Letters:</td>
                    <td><input v-model="greenLetters"></td>
                </tr>
                <tr v-for='n in yellowLetters.length'>
                    <td>Yellow Letters Step {{n}}:</td>
                    <td><input v-model="yellowLetters[n-1]"></td>
                </tr>
                <tr>
                    <td>Banned Letters:</td>
                    <td><input v-model="bannedLetters"></td>
                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
                <tr>
                    <th>Solutions</th>
                    <th>Words To Reduce Search Space</th>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tbody>
                                <tr v-for='solution in solutions'>
                                    <td><span class='highlight'>{{ solution.word }}</span></td>
                                </tr>
                            </tbody>
                        </table>

                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr v-for='guess in guesses'>
                                    <td><span>{{ guess.word }}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
